@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Contactpage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="container">
    <h2>@CurrentPage.Name</h2>
    <div>
        @Html.Action("Index", "ContactFormSurface")
    </div>
</div>