@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectsOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>@Umbraco.Field("projectsTitle")</h1>
            <p>@Umbraco.Field("projectsBodyText")</p>
            @Umbraco.RenderMacro("Projects")
        </div>
    </div>
</div>
