@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.TextPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>@Umbraco.Field("header")</h1>
            <p>@Umbraco.Field("mainContent")</p>
        </div>
    </div>
</div>