@inherits Umbraco.Web.Macros.PartialViewMacroPage
	
@{
    var selection = CurrentPage
        .Site()
        .Children("projectsOverview")
        .First()
        .Children()
        .Where("projectStatus.Contains(\"9\")")
        .OrderBy("CreateDate desc")
        .Take(5)
        ;
}
<ul>
	@foreach (var item in selection){
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>
