<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT testGrid ANY>
<!ATTLIST testGrid id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT projectsItem ANY>
<!ATTLIST projectsItem id ID #REQUIRED>
<!ELEMENT projectsOverview ANY>
<!ATTLIST projectsOverview id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1075" key="1e53e7dc-bbdc-42d6-85e3-9e7da3ff399b" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-08T11:49:55" updateDate="2017-02-08T19:12:22" nodeName="Home" urlName="home" path="-1,1075" isDoc="" nodeType="1054" creatorName="Rasmus Kronborg Christiansen" writerName="Rasmus Kronborg Christiansen" writerID="0" template="1051" nodeTypeAlias="homePage">
    <metaDescription><![CDATA[Nullam quis risus eget urna mollis ornare vel eu leo.]]></metaDescription>
    <metaKeywords><![CDATA[Nullam, quis, risus, eget, urna, mollis, ornare]]></metaKeywords>
    <hideFromNavigation>0</hideFromNavigation>
    <logo><![CDATA[1074]]></logo>
    <siteTitle><![CDATA[Aarhus Web Developer Coop]]></siteTitle>
    <footer><![CDATA[Copyright 2017 - Aarhus Web Developer Coop]]></footer>
    <header><![CDATA[Cras mattis consectetur purus sit amet fermentum.]]></header>
    <mainContent><![CDATA[<p>Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus.</p>
<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue.</p>]]></mainContent>
    <quicklinks><![CDATA[{
  "name": "Quicklinks",
  "sections": [
    {
      "grid": 12,
      "allowAll": true,
      "rows": [
        {
          "name": "Quicklinks123",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Location",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Articles",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "headline",
                "rte",
                "media",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Projects",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "Quicklinks123",
          "hasConfig": false,
          "id": "eb0b117e-bf5e-f33b-0f5e-003f5c6a76bc"
        }
      ]
    }
  ]
}]]></quicklinks>
    <textPage id="1076" key="08dda316-5c26-45ce-bdb3-24c84899a3d7" parentID="1075" level="2" creatorID="0" sortOrder="0" createDate="2017-02-08T11:54:53" updateDate="2017-02-08T11:54:53" nodeName="Text page" urlName="text-page" path="-1,1075,1076" isDoc="" nodeType="1058" creatorName="Rasmus Kronborg Christiansen" writerName="Rasmus Kronborg Christiansen" writerID="0" template="1057" nodeTypeAlias="textPage">
      <hideFromNavigation>0</hideFromNavigation>
      <header><![CDATA[Vestibulum id ligula porta felis euismod semper.]]></header>
      <mainContent><![CDATA[<p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur.</p>
<p>Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur. Maecenas faucibus mollis interdum.</p>]]></mainContent>
    </textPage>
    <projectsOverview id="1078" key="d6f360ce-63d8-4dbe-93b1-ea9462d25da6" parentID="1075" level="2" creatorID="0" sortOrder="1" createDate="2017-02-08T12:10:25" updateDate="2017-02-08T12:10:25" nodeName="Projects" urlName="projects" path="-1,1075,1078" isDoc="" nodeType="1067" creatorName="Rasmus Kronborg Christiansen" writerName="Rasmus Kronborg Christiansen" writerID="0" template="1066" nodeTypeAlias="projectsOverview">
      <hideFromNavigation>0</hideFromNavigation>
      <projectsTitle><![CDATA[Projects]]></projectsTitle>
      <projectsBodyText><![CDATA[<p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum.</p>
<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui.</p>]]></projectsBodyText>
      <projectsItem id="1079" key="42933b6b-bd0d-4dbf-bdae-e5288d9f38db" parentID="1078" level="3" creatorID="0" sortOrder="0" createDate="2017-02-08T12:10:49" updateDate="2017-02-08T12:11:13" nodeName="Project 1" urlName="project-1" path="-1,1075,1078,1079" isDoc="" nodeType="1070" creatorName="Rasmus Kronborg Christiansen" writerName="Rasmus Kronborg Christiansen" writerID="0" template="1069" nodeTypeAlias="projectsItem">
        <hideFromNavigation>0</hideFromNavigation>
        <projectDescription><![CDATA[<p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum.</p>
<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui.</p>]]></projectDescription>
        <projectTitle><![CDATA[Project 1]]></projectTitle>
        <projectStatus>7</projectStatus>
      </projectsItem>
      <projectsItem id="1080" key="795f97e8-49c1-45c4-b4ed-dfe82a053c50" parentID="1078" level="3" creatorID="0" sortOrder="1" createDate="2017-02-08T12:11:06" updateDate="2017-02-08T12:11:06" nodeName="Project 2" urlName="project-2" path="-1,1075,1078,1080" isDoc="" nodeType="1070" creatorName="Rasmus Kronborg Christiansen" writerName="Rasmus Kronborg Christiansen" writerID="0" template="1069" nodeTypeAlias="projectsItem">
        <hideFromNavigation>0</hideFromNavigation>
        <projectDescription><![CDATA[<p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum.</p>
<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui.</p>]]></projectDescription>
        <projectTitle><![CDATA[Project 2]]></projectTitle>
        <projectStatus>8</projectStatus>
      </projectsItem>
      <projectsItem id="1081" key="88e426e2-57fc-4180-8b44-7313e59aa79b" parentID="1078" level="3" creatorID="0" sortOrder="2" createDate="2017-02-08T12:11:28" updateDate="2017-02-08T12:11:28" nodeName="Project 3" urlName="project-3" path="-1,1075,1078,1081" isDoc="" nodeType="1070" creatorName="Rasmus Kronborg Christiansen" writerName="Rasmus Kronborg Christiansen" writerID="0" template="1069" nodeTypeAlias="projectsItem">
        <hideFromNavigation>0</hideFromNavigation>
        <projectDescription><![CDATA[<p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum.</p>
<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui.</p>]]></projectDescription>
        <projectTitle><![CDATA[Project 3]]></projectTitle>
        <projectStatus>9</projectStatus>
      </projectsItem>
      <projectsItem id="1082" key="d96b70ce-4b21-4dab-a344-2684ca3ffe73" parentID="1078" level="3" creatorID="0" sortOrder="3" createDate="2017-02-08T12:11:45" updateDate="2017-02-08T12:11:45" nodeName="Project 4" urlName="project-4" path="-1,1075,1078,1082" isDoc="" nodeType="1070" creatorName="Rasmus Kronborg Christiansen" writerName="Rasmus Kronborg Christiansen" writerID="0" template="1069" nodeTypeAlias="projectsItem">
        <hideFromNavigation>0</hideFromNavigation>
        <projectDescription><![CDATA[<p>Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Nulla vitae elit libero, a pharetra augue. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum.</p>
<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui.</p>]]></projectDescription>
        <projectTitle><![CDATA[Project 4]]></projectTitle>
        <projectStatus>6</projectStatus>
      </projectsItem>
    </projectsOverview>
    <articlesOverview id="1083" key="702b76ff-6e77-4206-95b5-d0bc769d1c5f" parentID="1075" level="2" creatorID="0" sortOrder="2" createDate="2017-02-08T12:16:00" updateDate="2017-02-08T12:16:00" nodeName="Articles" urlName="articles" path="-1,1075,1083" isDoc="" nodeType="1061" creatorName="Rasmus Kronborg Christiansen" writerName="Rasmus Kronborg Christiansen" writerID="0" template="1060" nodeTypeAlias="articlesOverview">
      <hideFromNavigation>0</hideFromNavigation>
      <articlesBody><![CDATA[<p>Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum.</p>
<p>Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>]]></articlesBody>
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articleItem id="1084" key="a522bdcc-d149-4ad4-9776-47253345e8cc" parentID="1083" level="3" creatorID="0" sortOrder="0" createDate="2017-02-08T12:16:17" updateDate="2017-02-08T12:16:17" nodeName="Article 1" urlName="article-1" path="-1,1075,1083,1084" isDoc="" nodeType="1065" creatorName="Rasmus Kronborg Christiansen" writerName="Rasmus Kronborg Christiansen" writerID="0" template="1064" nodeTypeAlias="articleItem">
        <hideFromNavigation>0</hideFromNavigation>
        <articleContent><![CDATA[<p>Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum.</p>
<p>Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>]]></articleContent>
        <articleTitle><![CDATA[Article 1]]></articleTitle>
      </articleItem>
      <articleItem id="1085" key="b8a36436-1202-423f-9a49-e27f60d79b42" parentID="1083" level="3" creatorID="0" sortOrder="1" createDate="2017-02-08T12:16:29" updateDate="2017-02-08T12:16:29" nodeName="Article 2" urlName="article-2" path="-1,1075,1083,1085" isDoc="" nodeType="1065" creatorName="Rasmus Kronborg Christiansen" writerName="Rasmus Kronborg Christiansen" writerID="0" template="1064" nodeTypeAlias="articleItem">
        <hideFromNavigation>0</hideFromNavigation>
        <articleContent><![CDATA[<p>Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum.</p>
<p>Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>]]></articleContent>
        <articleTitle><![CDATA[Article 2]]></articleTitle>
      </articleItem>
    </articlesOverview>
    <testGrid id="1091" key="b5b8123c-251b-4dd0-80b9-33fc0595e035" parentID="1075" level="2" creatorID="0" sortOrder="3" createDate="2017-02-08T12:35:05" updateDate="2017-02-08T18:06:31" nodeName="Test Grid" urlName="test-grid" path="-1,1075,1091" isDoc="" nodeType="1090" creatorName="Rasmus Kronborg Christiansen" writerName="Rasmus Kronborg Christiansen" writerID="0" template="1089" nodeTypeAlias="testGrid">
      <hideFromNavigation>0</hideFromNavigation>
      <standardGridPage><![CDATA[{
  "name": "Grid golder",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Commodo Mattis Ultricies Fermentum Cras",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "Headline",
          "hasConfig": false,
          "id": "fb714e72-ac29-7ecc-caa9-8a2a19e48fc6"
        },
        {
          "name": "Image",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1074,
                    "image": "/media/1001/random-logo.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "Image",
          "hasConfig": false,
          "id": "a1c02a39-e6bd-116b-e865-c69bf3e13154"
        },
        {
          "name": "3 Columns",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Maecenas sed diam eget risus varius blandit sit amet non magna.",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": true,
              "allowed": [
                "rte",
                "media",
                "embed",
                "quote"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "3 Columns",
          "styles": {},
          "config": {
            "class": "hightlight-White"
          },
          "hasConfig": true,
          "id": "65ad33e7-e85f-8458-93ad-b39cd70fb705",
          "active": true
        }
      ]
    }
  ]
}]]></standardGridPage>
    </testGrid>
  </homePage>
</root>