//Imports
@import "bootstrap-variables";
@import "typography";
@import "colors";

body {
  font:$base-font-family;
  color: $base-font-color;
}
h1 {
    font:$heading-large;
}
h2 {
    font:$heading-medium;
}
h3 {
    font:$heading-small;
}
.panel img {
    width:100%;
}
.logo {
    display: inline-block;
    padding: 25px;
}
blockquote {
    font:$heading-large;
    font-style: italic;
}
